* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

#d-day-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.3rem;
}

.d-day-child-container {
  text-align: center;
  margin-right: 1rem;
}

.d-day-child-container span {
  font-size: 1.3rem;
}

#start-btn {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}
